.footer {
  max-width: 880px;
  font-size: 18px;
  line-height: 0.8;
  color: #545454;
  margin: auto;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 480px) {
  .footer {
    max-width: 282px;
    font-size: 14px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin: 0 auto;
  }
}
