.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
}

@media screen and (min-width: 581px) and (max-width: 880px) {
  .header {
    max-width: 581px;
    margin-top: 28px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    max-width: 282px;
    margin-top: 28px;
    padding-left: 27px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-bottom: 32px;
  }
}
