.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 34px 36px 36px 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  width: 358px;
}

.modal__container_image {
  max-width: 75vw;
  max-height: 75vh;
  padding: 0;
  background: transparent;
  border-radius: 0px;
  width: unset;
  padding: 0;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: -45px;
  background-image: url(../images/close-icon.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000;
  margin: 0;
  padding-bottom: 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: 0;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding: 0 0 12px 0;
  height: 14px;
}

.modal__button {
  margin: 18px 0 0 0;
  padding: 0;
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  font-family: inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  border-radius: 2px;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-title {
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
}

@media screen and (max-width: 580px) {
  .modal__container {
    padding: 25px 22px;
    width: 238px;
  }

  .modal__container_image {
    width: unset;
    padding: 0;
  }

  .modal__close {
    top: -55px;
    right: 0;
    width: 26px;
    height: 26px;
  }

  .modal__close_image-preview {
    top: -30px;
    right: -30px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 21.78px;
    padding-bottom: 75px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 15px;
  }
}
