.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 7px 18px;
  align-items: center;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-wrap: nowrap;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  padding: 0;
  border: 1px white solid;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
  border: 2px white solid;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 580px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
    padding-top: 42px;
    margin: 0 auto;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 14px 10px;
    padding-top: 30px;
    padding-bottom: 36px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 0.85;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 0.8;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
    margin: 0 19px;
  }
}

@media screen and (min-width: 581px) and (max-width: 880px) {
  .profile {
    max-width: 581px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    padding-left: 20px;
  }

  .profile__title {
    font-size: 32px;
    line-height: 0.85;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__description {
    width: 100%;
    font-size: 16px;
    line-height: 0.8;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
    margin: 0 19px;
  }
}
